/* styles/Login.module.css */
.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    color: #0070f3;
    margin-bottom: 20px;
    font-size: 24px;
}

.formGroup {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordContainer.input {
    flex: 1;
}

.toggleButton{
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: #0070f3;
    cursor: pointer;
    font-size: 14px;
}

.toggleButton:hover {
    text-decoration: underline;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.linkWrapper {
    margin-top: 10px;
}

.link {
    color: #0070f3;
    text-decoration: nose;
}

.link:hover {
    text-decoration: underline;
}
